<ul class="list-group">

    <li  [class]="getAllBrandClass()" routerLink = "/cars">Tüm Markalar</li>
    <li class="list-group-item list-group-item-dark"><b>Brand Name</b> </li>
    <li (click)="setCurrentBrand(brand)"
    routerLink = "/cars/brand/{{brand.brandId}}" *ngFor="let brand of brands" 
    [class]="getCurrentBrandClass(brand)">
    {{brand.brandName}}<button class="btn btn-danger" (click)="delete(brand)" >Sil</button></li>
  </ul>
  
  <h5 *ngIf="currentBrand">{{currentBrand.brandName}} seçtiniz</h5>