<h3 *ngIf="cars; else: noCar">Araç Listesi</h3>

<div class="row">
  <ng-template #noCar>

    <div class="alert alert-primary" role="alert">
      Bu kategoride Ürün yoktur
    </div>
    </ng-template>
    
  <div *ngFor="let car of cars" class="card" style="width: 18rem;">
    
    <div class="card-body">
      <div   >
        <!-- <img class="rounded float-start" src="https://localhost:44386/{{ car.imagePath }}" -->
        <img src="https://localhost:44386{{ car.imagePath ? car.imagePath : '/Images/null.jpg' }}"
          class="d-block w-100" height="365" />
      </div>
      <h5 class="card-title">{{car.carId}}</h5>
      <h5 class="card-title">{{car.carName}}</h5>
      <h5 class="card-title">{{car.brandName}}</h5>
      <h5 class="card-title">{{car.modelYear}}</h5>
      <h5 class="card-title">{{car.colorName}}</h5>   
      <h5 class="card-title">{{car.dailyPrice}}</h5>
              
      <p class="card-text">{{car.description}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

